:root {
    --color-main: #ec8e3b;
    --color-lighty: rgb(237, 237, 237);
}

* {
    box-sizing: border-box;
    font-size: 16px;
}

a {
    text-decoration: none;
    cursor: pointer;
}

.books>h1,
.cards>h1 {
    display: flex;
    justify-content: center;
    background-color: var(--color-lighty);
}



body {
    min-width: 350px;
    height: 100%;
    font-family: "Roboto", sans-serif;
}

.sticky-top {
    box-sizing: inherit;
    background-color: var(--color-main);
    color: whitesmoke;
}

.logo>img {
    height: 50px;
    width: 140px;
    padding: 0;
}

/* --------------------------navbar---------------------------------------- */
.top {
    padding: 0rem 0;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    color: whitesmoke;
}

.nav-link {
    color: whitesmoke;
    padding: 1rem 1rem;
}

.top>.nav-link:hover {
    color: whitesmoke;
    transform: scale(1.5);
}

.navbar-nav>.nav-item>.nav-link:hover,
.navbar-brand1:hover {
    color: var(--color-main);
}

.navbar-brand1 {
    padding: 0 1rem;
    color: rgba(255, 255, 255, 0.55);
}

.navbar {
    justify-content: space-between;
    padding: 0.5rem 1rem;
}

.navbar-expand-sm {
    position: fixed;
    width: 100%;
    z-index: 10;
    text-transform: uppercase;
}

.navbar-nav {
    line-height: 1.5rem;
}

.nav-item {
    padding: 0 1rem;
}

.navbar-toggler:focus {
    box-shadow: 0 0 0 0.1rem;
    color: var(--color-main);
}

.navbar-toggler {
    font-size: 0.5rem;
    padding: 0.25rem 0.5rem;
}

/* ------------------------------------carousel----------------------------------- */
.carousel {
    display: block;
    height: 100%;
}

.carousel-inner {
    position: relative;
    height: calc(100vw - 40vw);
}

.carousel-item {
    top: 0;
    position: absolute;
    /* height: 100% */
}

.carousel-item>h2 {
    position: absolute;
    top: 43vw;
    left: 10vw;
    text-shadow: ;
    color: whitesmoke;
    z-index: 2;
    text-shadow: 2px 2px 3px black;
    font-size: max(3vw);
}

.carousel-item>img {
    position: absolute;
    top: -20px;
}

.btn-group {
    display: flex;
    align-items: center;
    flex-direction: row;
    z-index: 1;
    position: absolute;
    bottom: -54vw;
    left: 10vw;
    width: 28vw;
    background-color: var(--color-main);
    border-radius: 20px;
    padding: 0 2rem;
}

.btn-group:hover {
    background-color: rgb(119, 101, 68);
}

.button:hover {
    color: whitesmoke;
}

.button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    color: whitesmoke;
    font-size: 3vw;
    width: 100%;
}

.bi-chevron-right {
    /*carousel button array */

    color: whitesmoke;
    z-index: 2;
    width: 2.5vw;
    height: 2.5vw;
}

/* -------------------------------üres----------------------- */
.blind {
    height: 4rem;
    background-color: var(--color-main);
    margin: 1rem 0;
}

.container-items {
    top: 300px;
}

/* -------------------------------cards--kiállítás--------------------- */

.container-cards {

    display: grid;
    grid-template-columns: 50% 50%;
    justify-items: center;
    align-items: center;
    row-gap: 2rem;
    padding: 2rem 0;
}

.card {
    align-items: center;
    position: relative;
    height: 36rem;
    border: none;
}

.card>svg {
    position: absolute;
    right: 10px;
    top: 10px;
}

.card:hover .betekintes {
    visibility: visible;
    z-index: 10;
}

.betekintes {
    visibility: hidden;
    width: 120px;
    background-color: rgba(0, 0, 0, 0.3);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
}

.card:hover {
    opacity: 0.8;
    cursor: default;
}

.shape-corner {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    border-style: solid;
    border-width: 0 0 75px 75px;
    transform: rotate(270deg);
    border-color: transparent transparent #fff;
}

.overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: background-color 0.3s ease-in;
}

/* ------------------------------------------------------------------ */

@media screen and (max-width: 768px) {
    .container-cards {
        grid-template-columns: auto;
    }
}

/* --------------------------------könyvek-forgótár---books------------------------------- */

.books {
    padding-top: 150px;
}

.books-container {
    background-color: rgb(33, 37, 41);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
}

.rotate>p {
    position: absolute;
    top: 7rem;
    left: 0.4rem;
    color: aliceblue;
    transform: rotate(-90deg);
    z-index: -1;
}

.rotate>input {
    width: 4rem;
    position: absolute;
    top: 1rem;
    left: 0.7rem;
    z-index: -1;
}

figure>h5 {
    position: absolute;
    top: 7rem;
    left: -0.3rem;
    color: aliceblue;
    transform: rotate(-90deg);
    z-index: -1;
}

.rotate {
    z-index: 1;
    position: relative;
    overflow: hidden;
    margin: 10px;
    min-width: 255px;
    max-width: 315px;
    height: 220px;
    width: 100%;
}

.rotate img {
    height: 100%;
    position: absolute;
    right: 0;
    -webkit-transition: all 2s ease-out;
    transition: all 0.5s ease-out;
}

.rotate:hover img {
    -webkit-transform: translateX(100px);
    transform: translateX(150px);
}

.rotate:onclick img {
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
}

#answer {
    width: 4rem;
}

.ordered-books {
    background-color: var(--color-main);
    padding: 1rem;
}

.ordered-books>button {
    border-radius: 5px;
}

.price-box {
    position: relative;
    bottom: -2.5rem;
    left: -5.3rem;
    color: aliceblue;
    transform: rotate(-90deg);
    z-index: -1;
}


/* -------------------------------contact-form---------------------------------------- */

.wrapper {
    margin-top: 200px;
    position: relative;
    margin: 5rem 0;
    width: 100%;
    max-width: 550px;
    background: rgba(0, 0, 0, 0.8);
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.wrapper .title h1 {
    color: var(--color-main);
    text-align: center;
    margin-bottom: 25px;
    text-transform: uppercase;
}

.contact-form {
    display: flex;
}

.input-fields {
    display: flex;
    flex-direction: column;
    margin-right: 4%;
}

.input-fields,
.msg {
    width: 48%;
}

.input-fields .input,
.msg textarea {
    margin: 10px 0;
    background: transparent;
    border: 0px;
    border-bottom: 2px solid var(--color-main);
    padding: 10px;
    color: var(--color-main);
    width: 100%;
}

.msg textarea {
    height: 212px;
}

.msg>.btn {
    background-color: var(--color-main);
}

::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: var(--color-main);
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: var(--color-main);
}

:-ms-input-placeholder {
    /* IE 10+ */
    color: var(--color-main);
}

.container-contact {
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

/* ---------------------------------------footer----------------------------------------------------- */
.text-center {
    background-color: var(--color-main);
    padding-top: 1rem;
}

.text-center>.p-4 {
    background-color: rgba(0, 0, 0, 0.2);
}

.fa-arrow-alt-circle-up {
    z-index: 10;
    position: fixed;
    bottom: 1rem;
    right: 0.5rem;
    color: var(--color-main);
    font-size: 2.5rem;
    outline: 2px solid var(--color-main);
    border-radius: 20px;
    background-color: whitesmoke;
}

/* ---------------------------------------media----------------------------------------------------- */
@media screen and (min-width: 540px) {}

@media screen and (min-width: 720px) {}

@media screen and (min-width: 960px) {

    .button {
        font-size: 2.5vw;
    }
}

@media screen and (min-width: 1024px) {
    .container-cards {
        grid-template-columns: 33.3% 33.3% 33.3%;
    }


}

@media screen and (min-width: 1400px) {
    .btn-group {
        bottom: -40vw;
    }

    .carousel-item>h2 {
        top: 30vw;
    }

    .button {
        font-size: 2vw;
    }
}